<footer class="dark-orange-links white-text">
  <ul class="flex space-between">
    <li class="logo">
      <%= image_tag("tennis-ball.jpg", :alt => "logo tennis ball") %>
    </li>
    <ul class="flex">
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li>
        <a href="#">Terms & Conditions</a>
      </li>
      <li>
        Copyright 2014. All rights reserved.
      </li>
    </ul>
    <li>
      Connect with us:

      <div class="social flex">
        <a href="#" class="icon">
          <%= image_tag("twitter-circle.svg", :alt => "fb logo") %>
        </a>
        <a href="#" class="icon">
          <%= image_tag("instagram-circle.svg", :alt => "fb logo") %>
        </a>
        <a href="#" class="icon">
          <%= image_tag("facebook-circle.svg", :alt => "fb logo") %>
        </a>
      </div>
    </li>
  </ul>
</footer>
