
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h1,
  h2 {
    font-size: 1.1rem;
    font-weight: 900;
  }

  h1 {
    display: inline-block;
    border-bottom: #ffa500 2px solid;
  }

  h2 {
    margin: 0;
  }
}

.container {
  min-height: calc(100vh - 12rem);
}

.photo {
  border: red solid 1px;
  background-color: blue;
}

.details {
  padding-top: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 1.6rem;
  padding-bottom: 2rem;
}
