.homepage {
  .details {
    position: absolute;
    background-color: white;
  }
}

.hero-container {
  display: block;
  position: relative;
  width: 100%;
  height: calc(70vh - 8.4rem); /* 70% available screen */

  .details {
    bottom: 0;
  }
}

.recent-article1 {
  position: relative;
  display: block;
  background-color: yellow;
  width: 25%;
  height: calc(30vh - 3.6rem); /* 30% available screen */
  .details {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-sizing: border-box;

    p {
      display: inline-block;
      margin: 0;
    }

    p:first-of-type {
      border-bottom: #ffa500 2px solid;
    }
  }
}

.recent-article2 {
  display: block;
  width: 25%;
  height: calc(30vh - 3.6rem); /* 30% available screen */
}
