
nav {
  border-bottom: #838080 4px solid;

  ul {
    margin: 0;
    padding: 0.5rem 1rem;
  }

  li {
    padding: 0 0.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
}

.logo {
  max-width: 13%;
  max-height: 4.5rem;
  padding: 0.5rem 1rem;
  padding-right: 5rem;
  margin: calc(-0.5rem - 4px) -1rem;
  border-bottom: #ff2500 4px solid;

  img {
    width: 100%;
    height: 100%;
    border-radius: 15rem;
    object-fit: cover;
    object-position: center center;
  }
}

.test {
  border: red 1px solid;
}
