<!--<h1><%#= @category.name %></h1>

<%# @recent_related_articles.each_with_index do |art, i| %>
 <%# art.id %>
<%# end %>-->
<div class="container grid">
  <% @recent_related_articles.each_with_index do |art, ind| %>
    <div class="grid article-image">
      <%= display_4articles(art, ind)%>
    </div>
  <% end %>
</div>
